@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 25vw;
  height: auto;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); /* for Safari */
}

.footer {
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  font-family: "Argent", serif;
  color: black;
  align-items: center;
  justify-content: space-evenly;
}

.links {
  display: flex;
  gap: 20px;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 20px;
}

.word-links {
  padding-top: 1vh;
  display: flex;
  gap: 15px;
  color: white;
  font-family: "Argent", serif;
}

.join{
  padding-top: 1vh;
  padding-right: 35px;
  font-size: 20px;
  font-family: "Argent", serif;
}

.subpage-button{
  cursor: pointer;
}

.my-image {
  width: 10vw;
  height: auto;
  object-fit: cover;
  padding-top: 1vh;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header{
  font-size: 48px;
  font-family: "Argent", serif;
}

.page-body{
  font-size: 20px;
  font-family: "Argent", serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 300px;
}

.socials{
  display: flex;
  flex-direction: column;
}

.about-page{
  display: flex;
  flex-direction: column;
}